<div class="container">
  <mat-form-field>
    <mat-label>Search planet</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search planet" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rotationPeriod">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Rotation Period</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.rotationPeriod}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="orbitalPeriod">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Orbital Period</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.orbitalPeriod}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>More</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
          <button mat-stroked-button color="primary">Show more</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </mat-table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageNo"
                   (page)="pageEvents($event)">
    </mat-paginator>

  </div>
</div>


