<main>
  <mat-toolbar color="primary">
    <span>Planets list</span>
  </mat-toolbar>
  <sw-planet-list
    [planetsList]="planets$ | async" (changePageEmit)="getPage($event)"></sw-planet-list>
</main>
